:root {
  --white: #ffffff;
  --light-pink: #f9e9f4;
  --grayish-purple: #8e6e8f;
  --dark-purple: #3e2a4e;
}

body,
html {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Work Sans", sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: var(--light-pink);
}

.hero-img {
  height: 200px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.card {
  max-width: 550px;
  background-color: var(--white);
  border-radius: 1rem;
  padding: 2rem;
  width: auto;
  margin: auto;
  position: relative;
  z-index: 0;
  top: 6rem;
}

.header {
  display: flex;
  flex-direction: row;
}

.star-icon {
  margin-right: 1rem;
}

.dropdown {
  border-bottom: 0.5px solid var(--grayish-purple);
  max-width: 550px;
}

.question {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--dark-purple);
}

.answer {
  color: var(--grayish-purple);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  opacity: 0;
}

.dropdown.active .answer {
  max-height: 500px;
  opacity: 1;
}

.dropdown.active .plus {
  display: none;
}

.dropdown.active .minus {
  display: inline;
}

.plus {
  display: inline;
}

.minus {
  display: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 375px) {
  .card {
    padding: 1rem;
    margin: 2rem;
    top: -5rem;
  }

  .hero-img {
    height: 150px;
  }

  .header {
    flex-direction: column;
    align-items: center;
  }

  .star-icon {
    margin-right: 0;
    margin-bottom: 0.5rem;
  }

  .attribution {
    font-size: 10px;
  }
}
